/***
  google-webfonts-helper: A Hassle-Free Way to Self-Host Google Fonts
  Web page: https://gwfh.mranftl.com/fonts
***/

@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src:
    local("Red Hat Display Medium"),
    local("Red-Hat-Display-Medium"),
    url("/fonts/Red Hat Display/red-hat-display-v21-latin-500.woff2")
      format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  src:
    local("Red Hat Display Bold"),
    local("Red-Hat-Display-Bold"),
    url("/fonts/Red Hat Display/red-hat-display-v21-latin-700.woff2")
      format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src:
    local("Red Hat Display Black"),
    local("Red-Hat-Display-Black"),
    url("/fonts/Red Hat Display/red-hat-display-v21-latin-900.woff2")
      format("woff2");
}
